<mat-card>
  <mat-card-title class="title">User Information</mat-card-title>
  <mat-card-content>
    <div class="row">
      <span class="mat-caption">Name: </span> <span class="mat-subtitle">Deepa Chaurasia</span>
    </div>
    <div class="row">
      <span class="mat-caption">Twitter </span> <span class="mat-subtitle">@deepachaurasia1</span>
    </div>
    <div class="row">
      <span class="mat-caption">Linkedin: </span>
      <a href="https://www.linkedin.com/in/deepa-chaurasia-notes"class="mat-subtitle">https://www.linkedin.com/in/deepa-chaurasia-notes</a>
    </div>
  </mat-card-content>
</mat-card>
